
body{
    font-family:Arial,  sans-serif;
    background-color: antiquewhite;
    margin:0;
    padding: 150px;

}
.container{
    display:flex;
    background-color: white;
    width:100%;
    margin:0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rbga(0,0,0,0.1);
    
}
.left-section{
    background-color: maroon;
    color:white;
    padding:20px;
    width:35%;
    text-align:center;
    border-right:5px solid pink
}
.profile{
    width:150px;
    height:150px;
    border-radius:50%;
    margin-top:10%;
    border:5px solid pink;
}
h3{
    background-color: maroon;
    font-size: 18px;
    padding:2%;
    margin: 20px 0 10px;
    color:white;
    border-radius:10px;
    box-shadow: 0 0  10px 5px rgb(206, 166, 172);
    margin: top 5%;
    margin-bottom: 5%;
}
h1{ 
    text-align: center;
}
#info{

margin-left: 20px;
}
#education{
    margin-left:20px;
}
#skills{
    margin-left: 20px;
}
#experience{
    margin-left:20px;
}
#toggle-skills{
    width:200px;
    height:50px;
    position: absolute;
    left: 50%;
    border-radius: 10px;
    background-color: rgb(97, 14, 14);
    color:white;
}